[2017-05-06 03:46] luxlogica opened #13 "[Bug] Interface Glitch with Certain Plugins"
It seems that there are some interface glitches when displaying the list of plugins - and that the glitch always appears, consistently, on the same plugin entries. For instance, when listing all plugins alphabetically, scrolling down a little we get to...:

<img width="774" alt="screen shot 2017-05-06 at 1 42 07 pm" src="https://cloud.githubusercontent.com/assets/2994472/25769613/f013c6d6-3261-11e

[2017-05-06 04:00] luxlogica opened #14 "[Feature Request] Ability to Turn Off Update Checking for Individual Plugins"
While automatically checking - and updating - plugins is something we want 99% of the time, there are cases where it is not possible, or not advisable, for Sketch Plugin Manager to assist.

For instance, there are plugins that are not registered in the Sketch Plugins Directory, but which may nevertheless be popular - like the Craft plugins:

<img width="775" alt="screen shot 2017-05-06 at 1 47 41

[2017-05-06 04:25] mludowise commented on #13
Can you please include what version of OS X you're using (e.g. 10.12.4)? To find the version number, go to the Apple menu -> About This Mac.

[2017-05-06 04:30] mludowise commented on #14
Thank you for the suggestion, I'll consider including a solution in a future update.

[2017-05-06 08:16] luxlogica commented on #13
Using the very latest MacOS X Sierra - 10.12.4 (and the latest version of Sketch - 43.2).

[2017-05-06 23:53] mludowise commented on #13
I'm on the same version of OS X and Sketch, but I'm unable to reproduce the bug 🤔

I'd like to take a look at the logs to see if there's anything in there. Here's what I'd like you to do:
  1. Launch the **Console** application _(under /Applications/Utilities/Console.app)_.
  2. Click the leftmost button in the toolbar to show the sidebar, if it’s hidden.
  3. Select **All Messages** in the tab ba

[2017-05-07 01:18] mludowise commented on #13
I just pushed an update that fixed some minor bugs. It's possible that they may fix this UI glitch as well. Could you please update the plugin, restart Sketch, and see if you can reproduce the issue?

Thank you.

[2017-05-08 03:37] luxlogica opened #15 "[Bug] SPB Crashes Sketch on Launch"
After upgrading Sketch Plugin Manager (SPM) to the latest version, I could no longer launch Sketch - it would crash immediately on launch, with a crash report window.

If I go into the Sketch plugin folder, and manually start removing plugins, nothing seems to happen - it keeps crashing. However, when I remove the 'Fluid' or the 'Auto-Layout' plugin (either one), Sketch finally does launch success

[2017-05-08 03:39] luxlogica commented on #13
@mludowise: thank you for your quick response. I updated the plugin, restarted Sketch, and ran into a horrible crashing bug - #15...

[2017-05-08 06:50] mludowise commented on #15
Thank you for bringing this to my attention. I believe I am able to reproduce the issue. I've reverted my changes which should hopefully fix it for now.

[2017-05-08 07:00] mludowise commented on #15
Could you please attach your crash report so I can confirm the crash is being caused by what I think it is.

To retrieve the crash report:
  1. Open the folder **/Users/[your name]/Library/Logs/DiagnosticReports/**
  2. Locate a file .crash that starts with "Sketch_" that matches the timestamp you encountered the crash, it should be named something like **Sketch_2017-05-07-194043_Mels-MacBook-Pro.

[2017-05-08 07:49] luxlogica commented on #15
Here 'tis - I hope it helps!

[crash_report.zip](https://github.com/mludowise/Sketch-Plugin-Manager/files/982690/crash_report.zip)

[2017-05-08 20:14] mludowise commented on #15
Thank you for the crash report. It looks like it's something different from what I thought it was.

I'm unable to reproduce the crash on my system but I believe I was able to fix the bug causing it. If you have the time, I would appreciate your help in testing the fix. I have a potential fix on the branch [crash-fix](https://github.com/mludowise/Sketch-Plugin-Manager/tree/crash-fix).

In order to

[2017-05-08 22:26] luxlogica commented on #15
The 'crash-fix' indeed fixes the crashing. As a bonus, it also seems to fix the screen redraw glitch reported in #13! ;-)

[2017-05-08 22:27] luxlogica commented on #13
The 'crash-fix' branch seems to have fixed this!

<img width="776" alt="screen shot 2017-05-09 at 8 24 25 am" src="https://cloud.githubusercontent.com/assets/2994472/25828009/4f195b56-3491-11e7-98e2-fecce102856b.png">

[2017-05-08 23:15] mludowise commented on #15
Awesome! Thank you for your help testing the fix. I'll release an update later today and close out this issue after it's released.

[2017-05-09 21:10] mludowise commented on #15
Fixed.

[2017-05-09 21:10] #15 closed

[2017-05-09 21:11] mludowise commented on #13
Fixed.

[2017-05-09 21:11] #13 closed

[2017-05-17 16:17] kenrossi opened #16 "[BUG] Conflicts with "Abstract" plugin"
I can't seem to get past this screen.
![screenshot 2017-05-17 12 07 24](https://cloud.githubusercontent.com/assets/9726867/26164101/a38a7968-3af9-11e7-9dae-2829c81d842f.PNG)

[2017-05-17 17:58] mludowise commented on #16
Can you please include what version of OS X you're using (e.g. 10.12.4)? To find the version number, go to the Apple menu -> About This Mac.

Could I also get a copy of your Sketch logs. [Here are instructions on how to export logs from Sketch](https://github.com/mludowise/Sketch-Plugin-Manager/wiki/Exporting-Logs).

What happens when you click "View Updates"? From the screenshot, it looks like th

[2017-05-17 18:00] mludowise commented on #16
Also, could you please tell me what language and region your system is configured (e.g. English, US).

[2017-05-17 18:29] kenrossi commented on #16
10.12.3

View updates pops up like 3 times.. I click view all then it crashes. I have also dismissed it a bunch of times and then click update all and it crashes.

[error_sketch.txt](https://github.com/mludowise/Sketch-Plugin-Manager/files/1008750/error_sketch.txt)

[2017-05-17 18:34] kenrossi commented on #16
![screenshot 2017-05-17 14 11 34](https://cloud.githubusercontent.com/assets/9726867/26170008/d55bdbbc-3b0d-11e7-9a59-037250a7efed.PNG)

It shows that sketch plugin manager needs an update even though it is the latest version.

[2017-05-17 19:14] mludowise commented on #16
From the logs, I think I'm able to track down what's causing the crash which may also be causing the error where the alert isn't dismissing.

It looks like an older version of one of the libraries that SPM depends on, ObjectiveGit, is being used by another plugin that you have installed. The newer version of ObjectiveGit is never loaded by SPM so when the plugin tries to use it, it crashes.

I loo

[2017-05-17 19:17] kenrossi commented on #16
I just pinged the developers of Abstract. It's actually a Git based plugin.

![screenshot 2017-05-17 15 16 54](https://cloud.githubusercontent.com/assets/9726867/26171697/eed38e54-3b13-11e7-91e9-4af15da1a0b8.PNG)

[2017-05-17 19:25] mludowise commented on #16
Ah, that's likely it then.

For the time being you should uninstall either SPM or Abstract. I'm going to look into ways of loading libraries that won't conflict with other plugins, but it may take a while before I can get a fix for this. I'll leave this bug open and let you know if and when I have a fix.

[2017-05-23 21:33] mludowise commented on #16
This should be fixed now.

[2017-05-23 21:33] #16 closed

[2017-05-24 09:31] seethinkdo opened #19 ""Plugin is already installed" message"
I get this everytime I try to update a plugin?
Also, not sure if/when anything is actually updating as just get the "Updating..." circle, with not much happening.
Also, I am getting multiple occurrences of some plugins being listed in the plugin manager??

[2017-05-24 18:13] mludowise commented on #19
I'm sorry to hear that you're running into issues with the plugin. In order to figure out what's going on, I need a little bit more info.

Can you please send me the following:
  - A screenshot of the behavior you're seeing.
  - The version of OS X you're using (e.g. 10.12.4). To find the version number, go to the Apple menu -> About This Mac.
  - The version of Sketch Plugin Manager that you're u

[2017-05-24 18:27] seethinkdo commented on #19
Hi Mel,

Thanks for coming back to me.

I have done a short screen recording, as this shows the duplicated instances of plugins and what happens when I try to update anything: https://we.tl/VArHOqu9XY <https://we.tl/VArHOqu9XY>

OSX 10.12.5
Sketch Manager Plugin 1.4
Error log attached

Nothing does update BTW?

Hope you can help!

Thanks,
Jason

--

Jason Hunt FRSA RAR+
jason@seethinkdo.co.uk <mai

[2017-05-24 18:36] mludowise commented on #19
Thank you for the video. I'm able to reproduce the bug and am working on a fix. Thank you for reporting this, it's a pretty serious bug.

[2017-05-24 18:38] seethinkdo commented on #19
Great!
What I’d really like is a plugin manager to not only do this sort of thing, but also sync plugins between machine – that would be a killer feature!!

--

Jason Hunt FRSA RAR+
jason@seethinkdo.co.uk
01892 710761
07770 677513

linkedIn: uk.linkedin.com/in/jasonhunt

[2017-05-24 18:41] mludowise commented on #19
That's a great idea. I can't promise I would get to it any time soon, but if you file it as another issue, I can track it as a feature request.

[2017-05-24 18:42] seethinkdo commented on #19
Happy to!

--

Jason Hunt FRSA RAR+
jason@seethinkdo.co.uk
01892 710761
07770 677513

linkedIn: uk.linkedin.com/in/jasonhunt

[2017-05-24 18:43] seethinkdo opened #20 "Feature request – plugin syncing"
Would be great if you could add plugin syncing to this so that I can sync plugins (and version) between different Macs? I run Sketch non-concurrently on two machines (desktop/laptop) and keeping my plugin sets up-to-date and in-sync is tedious, to say the least!

[2017-05-24 18:54] mludowise commented on #19
This should be fixed now. You can either use Sketch Plugin Manager to update or re-install the plugin from [here](https://github.com/mludowise/Sketch-Plugin-Manager/archive/master.zip).

If you can confirm that it is resolved, I will close this issue.

[2017-05-24 19:12] mludowise commented on #20
Ideally, would this feature automatically install and update all your plugins, or would you rather get notified first before anything is installed or updated?

[2017-05-25 08:44] seethinkdo commented on #19
Thanks,
But on my desktop (iMac 5k) this now won’t open again?

—

Jason Hunt FRSA RAR+
jason@seethinkdo.co.uk
01892 710761
07770 677513

linkedIn: uk.linkedin.com/in/jasonhunt

[2017-05-25 08:45] seethinkdo commented on #19
I think both options should be manual choice (with automatic switch)

—

Jason Hunt FRSA RAR+
jason@seethinkdo.co.uk
01892 710761
07770 677513

linkedIn: uk.linkedin.com/in/jasonhunt

[2017-05-25 15:37] seethinkdo commented on #19
Hi Mel,

Thanks.

This is now working, but I just tried to ‘update all’ and it totally crashed my machine – which is very rare!
Im using latest Sketch updated 44.1

Duplicate plugin versions (sometimes up to 5?!) are still showing as well, and each one treated as a separate update?

Thanks,
Jason

—

Jason Hunt FRSA RAR+
jason@seethinkdo.co.uk
01892 710761
07770 677513

linkedIn: uk.linkedin.com/i

[2017-05-25 17:56] mludowise commented on #19
Could you please attach a new copy of your logs again?

In the mean time, I'm wondering if it's possible that the previous bug somehow installed extra copies of plugins when it was trying to update. To check this, try opening your plugins folder located in `/Users/[your name]/Library/Application Support/com.bohemiancoding.sketch3/Plugins/`. The easiest way to access that folder is in Sketch go to

[2017-06-01 14:11] bomberstudios opened #21 "Support Sketch 45 plugin update system"
Hi there!

This is a quick note to remind you that Sketch 45 will include a plugin update system.

It would be awesome if you could add support to it (it's really easy!) before Sketch 45 comes out. Ideally, you should release an update for your plugin while we're still in Sketch 44, so your users will have a nice & easy experience when 45 is released.

For more details, please check http://sketchp

[2017-06-06 09:09] max1mvs opened #22 "No application window is showing"
### Description

[//]: # Manager's window is not opening when selecting it from the Plugins menu in Sketch. Neither by choosing 'Open Manager' or 'Check for Updates'. No window is showing.

### OS X Version
[//]: # 10.12.5

### Sketch Plugin Manager Version
[//]: # 1.4.1

### Screenshot
[//]: # Sorry - but there is no window to show :-)

### Logs
[//]: # There are none.

[2017-06-08 14:13] l-i-n-k commented on #22
I can confirm this issue. Maybe the window is just off screen, but how to reveal/move back?

[2017-06-08 15:33] mludowise commented on #22
Sorry, I'm away from my computer this week so I'm currently unable to investigate further.

Have you tried opening Activity Monitor to see if Sketch Plugin Manager is still running? If it is, try force quitting the process.

[2017-06-08 18:15] n8mills opened #23 "anima app"
### Description

keeps asking me to update launchpad by anima > its up to date

### OS X Version

[//]: # (e.g. 10.12.4; To find the version number, go to the Apple menu -> About This Mac.)

### Sketch Plugin Manager Version

[//]: # (To find the version number, in Sketch go to Preferences > Plugins and look for the gray number next to "Sketch Plugin Manager".)

### Screenshot

[//]: # (Include a

[2017-06-08 18:26] max1mvs commented on #22
Hi there! And thanks for the help. Tried both things.
Trashing the preference files did not help, and I did not find any process running…

[2017-06-08 18:45] max1mvs commented on #22
But, then I have just tried to also reinstall the plugin, and now the window is back. Trashing the files _and_ reinstalling seemed to do the trick.

[2017-06-10 23:10] willdavis opened #24 "[Enhancement Request] - Use Sketchpacks API"
Hi, I wanted to reach out and see if you would be interested in using the Sketchpacks API to help with searching and managing plugins?

The API keeps a unique index of all plugin identifiers. So when you parse a manifest locally, you can use the identifier to fetch additional information about the plugin from the API.

If you'd like to check out the API, you can try it here: http://docs.sketchpack

[2017-06-12 14:12] mischugo commented on #22
Have the same problem.
There is no window to show :-(

[2017-06-12 19:12] mludowise commented on #22
@mischugo Could you please attach logs? Here are [instructions](https://github.com/mludowise/Sketch-Plugin-Manager/wiki/Exporting-Logs-v1.4-or-higher) on how to get logs for Sketch Plugin Manager.

[2017-06-12 19:14] mludowise commented on #19
@seethinkdo Is this problem resolved?

[2017-06-12 19:44] mludowise commented on #24
Thank you for pointing me to the API. It would be nice to use the same API so we can both leverage the same download count, but I don't think I can currently use this for the following reasons.

  1. I don't have paging implemented and it would actually take quite a bit of work to do this. I currently download the entire catalog and use Apple's Core Data library to perform search and sort. I tried

[2017-06-12 22:48] mludowise commented on #24
@willdavis I'd like to file bugs & enhancement requests on the API. Is [this](https://github.com/sketchpacks/bug-reports/issues) the best place to do it?

[2017-06-12 23:11] mludowise opened #25 "Chinese translation"
Based on app analytics, more than half of Sketch Plugin Manager's users primary language is Chinese (specifically zh-Hans-CN). I'd like help from someone fluent in Chinese to help translate to simplified and possibly also traditional Chinese.

I've posted instructions how to contribute:
https://github.com/mludowise/Sketch-Plugin-Manager/tree/localize

[2017-06-12 23:13] mludowise commented on #25
@cute @pluwen – You've both made contributions to the [SketchI18N](https://github.com/cute/SketchI18N) plugin, would you be interested in helping translate Sketch Plugin Manager?

[2017-06-13 02:44] willdavis commented on #24
You can use [bug-reports](https://github.com/sketchpacks/bug-reports/issues) for issues and [feedback](https://github.com/sketchpacks/feedback/issues) for enhancements.  I think we may combine these in the future to make it more clear.  But for now either is fine.

I can definitely add this in for you.  I'll only be able to update it once a day though, but it should give you something to search &

[2017-06-13 05:24] mludowise commented on #24
Yes, a `LIKE` should do the job. Note that getting the results in one request is a higher priority request because I can continue loading the data into Core Data and performing the search locally.

I moved these items into their own enhancement requests linked above.

[2017-06-13 06:40] mludowise commented on #24
I found a few bugs in the API which I filed and also made a few enhancement requests.

These are the specific items that are blocking me from being able to use the Sketchpacks API because they are capabilities that my API has which Sketchpacks does not (listed in priority order):
1. [[API] Ability to download entire plugin list in one request ](https://github.com/sketchpacks/feedback/issues/32)
2.

[2017-06-13 06:52] mischugo commented on #22
Hello,

Thanks for supporting me.
I have done the steps and hopefully did it right.
I have also installed the manager agein (see shots)

For the first time it works.
After quitting and re-open Sketch, the plugin manger window is no longer
shown.

Best

Michael

[image: pasted1]
[image: pasted2]
[image: pasted4]

Mel Ludowise <notifications@github.com> schrieb am Mo., 12. Juni 2017 um
21:12 Uhr:

s

[2017-06-14 01:41] mludowise commented on #19
I'm going to close this issue since there haven't been any updates. Please let me know if you run into this problem again.

[2017-06-14 01:41] #19 closed

[2017-06-14 01:46] mludowise commented on #22
@mischugo Thank you for sending me your logs. There are some general system warnings but nothing that seems to indicate it would cause the window to not open. Did you export this log before or after fixing the issue?

I can't reproduce the problem or figure out what's causing it, but please let me know if it happens again and repeat the above steps to send logs.

[2017-06-14 01:49] mludowise commented on #22
@mischugo When you ran into this, did you open Activity Monitor to see if Sketch Plugin Manager showed in the list? To open Activity Monitor, go to the `/Applications/Utilities` folder and open `Activity Monitor.app`.

[2017-06-14 01:51] mludowise commented on #22
Also, you could try hitting the expose button on your Mac to see if the window is either the plugin window or update window is hiding behind something.

[2017-06-14 01:59] mludowise commented on #23
How do you know that Anima is up to date? Did you update to the latest version using Anima's updater (`Launchpad by Anima > Version > Check For Update`) or did you update to the latest version in Sketch Plugin Manager and are still seeing a warning?

![image](https://user-images.githubusercontent.com/1626168/27112101-93139d82-5069-11e7-8a72-fe6be9201a98.png)

If you're using Anima's updater, it's

[2017-06-14 06:40] mischugo commented on #22
Hi,
i will try to save the log ile agian.
In the meantime i have open the activity window

screenshot
[image: pasted1]
Cheers,

Mischugo

Mel Ludowise <notifications@github.com> schrieb am Mi., 14. Juni 2017 um
03:51 Uhr:

[2017-06-14 06:55] mludowise commented on #22
@mischugo Could you please upload your screenshot again? It looks like it didn't get attached to the GitHub issue. You might want to try uploading it directly to the webpage rather than attaching it in email.

In Activity Monitor, try searching for "Sketch" using the search box in the upper-right. That will help narrow it down.

[2017-06-14 07:14] l-i-n-k commented on #22
It really looks like the window is somewhere off screen because the current Sketch document goes "gray".
My Activity Monitor lists an unnamed process with Sketch Plugin Manager Icon:
<img width="1022" alt="ember library mediator" src="https://user-images.githubusercontent.com/784287/27119773-71baf1bc-50e1-11e7-8a52-2cf264c06961.png">

Once I quit the process the window will show up again. BTW the

[2017-06-14 07:23] mludowise commented on #22
Yeah, that definitely looks like what's going on. The quickest fix is to quit (or force-quit) Sketch Plugin Manager from Activity Monitor. This should allow it to open again from within Sketch. I'm not sure why only the icon is displaying in Activity Monitor without a title, but it's the top-most process in @l-i-n-k's screenshot.

I have an idea as to what might be causing this but it will take a

[2017-06-14 07:53] mischugo commented on #22
![image](https://user-images.githubusercontent.com/6619444/27121382-5ec28056-50e7-11e7-8d3c-c6010bc45da2.png)

[2017-06-14 08:19] pluwen commented on #25
@mludowise I'm in!

[2017-06-14 09:12] mludowise commented on #22
Thank you @mischugo. It looks like, in your case, that Sketch Plugin Manager is not running in the background. Are you still unable to open the window?

[2017-06-14 11:53] mischugo commented on #22
Yes. No window.
I have started my book with repair/test settings ("d") and closing and opening sketch many time. Deleting and unchecking several plugins ... but nothing has changed.

I will try to install the plugin manager in my home office, to see if it working... May be, the issue is not in plugin manager but with my mac (?)

[2017-06-14 11:55] max1mvs commented on #22
@mischugo – have you tried to trash the preference files, delete the plugin manually, then installing it manually again afterwards?

[2017-06-14 11:57] mischugo commented on #22
Yes, i did

[2017-06-14 13:26] mischugo commented on #22
I have just tried "Sketchpacks". No Problem.
Plugin manager is still not in my list

![image](https://user-images.githubusercontent.com/6619444/27134434-d2b9e728-5115-11e7-813b-1893abf17ad1.png)

[2017-06-14 13:34] mischugo commented on #22
I get crazy!
I had the idea to inspect the plugin folder .... All plug ins has a folder. but not the plugin manager (???)
I put this folder manualy into the sketch directory and start the plung manager from the plug in menu

OPEN (!)
![image](https://user-images.githubusercontent.com/6619444/27134739-c533ae8a-5116-11e7-9a73-8776b31eeba6.png)

![image](https://user-images.githubusercontent.com/6619

[2017-06-14 13:37] mischugo commented on #22
S**T happens. No window :-(

![image](https://user-images.githubusercontent.com/6619444/27134870-5bdeb1d6-5117-11e7-8f0e-480cce109b0f.png)

[2017-06-14 13:48] max1mvs commented on #22
The plugins doesn't need a folder. Four of my 21 plugins does not have it, and they work fine. Are you sure that the plugin is located in the ~/Application Support/com.bohemiancoding.sketch3/Plugins/ folder?

[2017-06-14 14:02] pluwen commented on #25
@mludowise Done. https://github.com/mludowise/Sketch-Plugin-Manager/pull/26

[2017-06-14 14:43] max1mvs commented on #22
Okay, I'm starting to get the same issue again. Nothing shows up in the Activity Monitor either…

[2017-06-14 14:45] mischugo commented on #22
![image](https://user-images.githubusercontent.com/6619444/27138477-d5d529a8-5120-11e7-9047-5e6d89f82c06.png)

[2017-06-15 01:11] mludowise commented on #25
Thank you! I'll integrate this into the plugin.

[2017-06-15 03:09] mludowise commented on #25
I integrated the localization into the plugin. You should see the change if you update in Sketch Plugin Manager and your system has Chinese (Simplified) as one of the preferred languages.

Please let me know if you see any problems.

[2017-06-15 03:22] pluwen commented on #25
Why not use UTF-8 ？Sent from Nylas Mail, the best free email app for work

            On 6月 15 2017, at 11:09 上午, Mel Ludowise <notifications@github.com> wrote:

              I integrated the localization into the plugin. You should see the change if you update in Sketch Plugin Manager and your system has Chinese (Simplified) as one of the preferred languages.
Please let me know if you see any p

[2017-06-15 03:36] pluwen commented on #25
Change some strings
https://github.com/mludowise/Sketch-Plugin-Manager/pull/28

[2017-06-16 01:35] beausmith commented on #22
Experiencing the same issue.

**Repro:**

1. Freshly install of plugin in Sketch.
2. Plugins -> Sketch Plugin Manager -> Open Manager
3. Nothing happens. Nothing in Activity Monitor. Nothing in Console.

I tried all the troubleshooting issues mentioned above. No dice.

LMK if there's anything else I can do to help troubleshoot.

[2017-06-16 09:08] jschuur commented on #22
Same problem. FYI, I ran into this as I was running Sketch just on my laptop screen when the first time around I had an external monitor set up.

Same symptoms as the other folks: No process running, no window revealed in Expose mode, reinstalling did not help.

[2017-06-16 09:53] l-i-n-k commented on #22
Update to PlugIn Manager 1.5 with the following situation.
It looked fine in the beginning until I re-activated the "Check for updates on startup" option. With the option enabled the checkbox. In my case this option causes the problem. Reproducible.

![app 0 5662054 pid 1375](https://user-images.githubusercontent.com/784287/27221860-5faff62a-528a-11e7-9971-d273dbe871a4.png)

[2017-06-16 10:12] mischugo commented on #22
I am so sorry. I don't get a window.
Installed the update - No window
Installed the new version - No window
Delete / uninstall the plugin and re-install - no window
I'm desperate :-(

[2017-06-16 19:17] beausmith commented on #22
@mischugo - I'm sure you know this workaround… install plugins manually!

1. Via menu: Sketch > Preferences…
2. Click Plugins tab

Hope this helps.

[2017-06-16 21:31] l-i-n-k commented on #22
@mischugo - You have the Sketch Plugin Manager in Activity Monitor, correct?
If not sort the Activity monitor by PID and look for changes while starting the plugin. In my case, the Sketch Plugin Manager has an empty name. This makes it impossible to use the search box.

Once you located the process and there is no window try to terminate the process via Activity Monitor.

In my case, the window ap

[2017-06-16 22:05] jschuur commented on #22
@l-i-n-k Tried sorting by PID, and I don't see a new process in the list when I try and launch Sketch Plugin Manager.

[2017-06-18 19:02] mludowise commented on #25
Thank you. I'll include the fixes in the next update.

Regarding your comment on UTF-8, I believe the Localizable.strings file is already in UTF-8, is it not?

[2017-06-18 19:03] #25 closed

[2017-06-18 19:49] mludowise commented on #22
Thank you everyone who's trying to help troubleshoot this issue, I'm finally in front of a computer and have time to look into the issue.

I'm still stumped as to why the app window doesn't appear but there are some steps that one of you can take to help me root-cause the issue. If any of you are still able to reproduce the issue, can you please tell me what you see when doing the following:

1. T

[2017-06-18 20:19] l-i-n-k commented on #22
-[MOUndefined getFileSystemRepresentation:maxLength:]: unrecognized selector sent to instance 0x61800001af30
 «Plugin Output»
✅ loadFramework: `SMFramework` success! «Plugin Output»
startup «Plugin Output»
show manager «Plugin Output»

-----
This is what I get in both cases. To me, the window appears when I uncheck the tick box for startup check.

[2017-06-18 20:47] mludowise commented on #22
Interesting. By chance do you have a really long username on your system?

[2017-06-18 21:06] l-i-n-k commented on #22
No, but the Sketch Plugin Monster seems to cause the error. It’s not connected to the window issue of Pluin Manager.

[2017-06-18 21:29] mludowise commented on #22
@l-i-n-k  I've updated the plugin on the [branch fix-22](https://github.com/mludowise/Sketch-Plugin-Manager/archive/fix-22.zip) and added logging statements. Could you please try installing this version and let me know what the new plugin output is?

This shouldn't fix anything, just give me some output to help me figure out what's failing. Note that it will tell you that Sketch Plugin Manager has

[2017-06-19 03:41] pluwen commented on #25
no, it's UTF-16LE

[2017-06-19 17:37] beausmith commented on #22
@mludowise A couple things I found while following your troubleshooting steps:

The path to the plugin was `~/Library/Application Support/com.bohemiancoding.sketch3/Plugins/Sketch-Plugin-Manager-master`

When I attempted to launch the app I was told that I need to upgrade to `OS X 10.12`:

![image](https://user-images.githubusercontent.com/28444/27297761-0c30fc44-54db-11e7-912b-263d409bf578.png)

[2017-06-19 20:25] mludowise commented on #22
@beausmith Unfortunately, Sketch Plugin Manager requires OS X 10.12 to run. There is a warning in the README and on the website stating it requires 10.12 or higher but I acknowledge that not everyone reads that.

I can put in a fix to handle the error better since it's a pretty terrible user experience for the plugin to not launch and get no explanation as to why.

[2017-06-19 20:37] l-i-n-k commented on #22
## No startup-check

-[MOUndefined getFileSystemRepresentation:maxLength:]: unrecognized selector sent to instance 0x6000000089a0
 «Plugin Output»
✅ loadFramework: `SMFramework` success! «Plugin Output»
startup «Plugin Output»
end startup «Plugin Output»

show manager «Plugin Output»
run «Plugin Output»
Plugins Folder URL: file:///Users/tlink/Library/Application%20Support/com.bohemiancoding.sketch

[2017-06-19 21:16] mludowise commented on #22
@l-i-n-k Thank you for running the updated version. Unfortunately, there's nothing in the logs to indicate that anything went wrong 😓. It looks like the error regarding `getFileSystemRepresentation:maxLength:` is caused by another plugin before Sketch Plugin Manager gets invoked.

I'm going to look into tweaking a couple things related to the "Check at startup" box, although I can't think of why t

[2017-06-20 02:09] mludowise opened #29 "[Enhancement] Show error message when running on unsupported system"
### Description
[//]: # (Include a detailed description of the problem)
Window doesn't open when going to `Plugins > Sketch Plugin Manager > Open Manager`.

### OS X Version
[//]: # (e.g. 10.12.4; To find the version number, go to the Apple menu -> About This Mac.)
10.11

### Sketch Plugin Manager Version
[//]: # (To find the version number, in Sketch go to Preferences > Plugins and look for the g

[2017-06-20 02:11] mludowise commented on #22
@beausmith FYI - I've opened a new issue #29 to add some error feedback if the OS version is not high enough.

[2017-06-20 02:34] mludowise commented on #22
@l-i-n-k What happens when you run `Plugins > Sketch Plugin Manager > Check for Updates`? Does the window ever pop up to tell you have new updates or no updates?

I have a theory that what's happening is when you open a new document in Sketch, the plugin checks for updates but it never finishes. So what's happening is when you try to open the window after that, it never opens because the plugin is

[2017-06-20 02:49] mludowise commented on #22
@mischugo Are you still unable to launch the manager? Have you tried any of the trouble-shooting steps in my [previous comment](https://github.com/mludowise/Sketch-Plugin-Manager/issues/22#issuecomment-309298736)?

I also realized that I made an error in telling you to search Activity Monitor by "sketch". Currently, Sketch Plugin Manager doesn't have a process name so it won't display using that f

[2017-06-20 03:51] mludowise commented on #25
@pluwen Ah, yes. It looks like Apple wants the Localizable.strings files to be in UTF-16. When I import them into XCode, it automatically converts them from UTF-8 to UTF-16.

[2017-06-20 03:53] pluwen commented on #25
ok

[2017-06-20 07:36] l-i-n-k commented on #22
Exactly what you describe. The pop up never shows.
[sketch-plugin-manager-log-l-i-n-k-20170620.txt](https://github.com/mludowise/Sketch-Plugin-Manager/files/1087341/sketch-plugin-manager-log-l-i-n-k-20170620.txt)

[2017-06-20 07:42] mischugo commented on #22
Hey,
I was not at my PC for some time. I do not look through my attempts now. To many options :-)
In my Home office I had the same problem with the plug in manager.
For a reason I could not explain why, the plugin manager was shown. Then i de-select the check for automatic updates.
I have tried to open the manager several times and it works.

Then, my idea:
Copy the plug in folder and put it into

[2017-06-20 09:25] mischugo commented on #22
Oh my god, whats going up here :-)

I leave my manager window open and i have installed some plugins.
But, where are they?

![image](https://user-images.githubusercontent.com/6619444/27326123-e59796a8-55aa-11e7-8d6d-76331c609cd7.png)

![image](https://user-images.githubusercontent.com/6619444/27326135-f0ae9898-55aa-11e7-9fb2-83ec7c2f7ed7.png)

I get more and more confused and i will get out here f

[2017-06-20 09:58] mischugo commented on #22
Ok, last one:

Manager is open. Click on "installed" shows nothing. Also, not the installed plug ins some seconds before ...
But the "catalog" works (?)

[2017-06-21 00:39] mludowise commented on #22
@l-i-n-k Thank you for the logs, I was able to use them to reproduce the issue and I think I have a fix.

Please test out the fix by [downloading the branch fix-22](https://github.com/mludowise/Sketch-Plugin-Manager/archive/fix-22.zip). Let me know if you see an alert after running `Plugins > Sketch Plugin Manager > Check for Updates`.

[2017-06-21 08:26] l-i-n-k commented on #22
Although the checkbox on completed updates is the right place to ask. I image that a setting screen where I can toggle the checkbox anytime would be helpful.
What is the reason for the pop-up to have not focus?

![sketch plugin manager](https://user-images.githubusercontent.com/784287/27374429-0d91eebc-566c-11e7-8f2e-2e31c9f08abd.png)

[2017-06-21 08:30] max1mvs commented on #22
Seems to work for me for now. No alerts. But FYI it thinks that there is an update from 1.6 to 1.5 ;-)

[2017-06-21 09:17] jschuur commented on #22
The fix-22 branch fixed my problems with the plugin manager dialog box not popping up too. Thanks!

[2017-06-21 09:34] mischugo commented on #22
Check for updates -> unchecked works until now. Thanks

![image](https://user-images.githubusercontent.com/6619444/27377525-81e80770-5675-11e7-9b36-7a9bf32acb05.png)

[2017-06-21 20:38] mludowise commented on #22
I just pushed the fixes to master so please update Sketch Plugin Manager when you're prompted to do so. Please let me know if you run into the issue of the window not opening again.

[2017-06-21 20:38] #22 closed

[2017-06-21 20:42] mludowise opened #31 "[Bug] Crashes when typing into search box immediately after opening manager"
### Description
[//]: # (Include a detailed description of the problem)
1. Open the manager
2. Immediately after the window displays, type into the search box "test"

### OS X Version
[//]: # (e.g. 10.12.4; To find the version number, go to the Apple menu -> About This Mac.)
10.12.5

### Sketch Plugin Manager Version
[//]: # (To find the version number, in Sketch go to Preferences > Plugins and lo

[2017-06-21 20:43] #29 closed

[2017-06-21 20:48] mludowise commented on #23
FYI - I put in a fix in #30 for this which flags the Launchpad plugin as one that shouldn't be updated in Sketch Plugin Manager. It should display a message that says "Updates managed by Auto Layout" in the plugin manager and no longer prompt you to update in Sketch Plugin Manager.

![image](https://user-images.githubusercontent.com/1626168/27405886-1aeeaaf2-5688-11e7-98ba-b59747079546.png)

[2017-06-21 20:48] #23 closed

[2017-07-17 19:06] bsmart opened #32 "App will not launch"
### Description

App will not launch from Plugins > Sketch Plugin Manager

### OS X Version

10.12.5

### Sketch Plugin Manager Version

1.6

### Screenshot

[//]: # (Include a screenshot or screen recording, if applicable)

### Logs

[//]: # (Attach a .txt file containing logs for Sketch Plugin Manager. For instructions on how to export logs:)
[//]: # (For v1.4+: https://github.com/mludowise/Sket

[2017-07-19 08:23] andrewux opened #33 "Not available for use"
### Description

Installed Sketch Plugin Manage from fresh download. Installation went well - appeared to be successful. Opening the Sketch Plugin Manager menu reveals all options disabled.

### OS X Version

10.12.5

### Sketch Plugin Manager Version

1.6

### Screenshot

![image](https://user-images.githubusercontent.com/6595680/28357518-9785a476-6c63-11e7-8895-e56683080a7b.png)

### Logs

No Lo

[2017-07-19 19:19] mludowise commented on #33
In that screenshot, do you have a document open? Sketch disables all plugins unless you have an active document window.

[2017-07-19 19:29] mludowise commented on #32
I have a few followup questions:
1. Are you selecting `Plugins > Sketch Plugin Manager > Open Manager` from the menu?
2. Have you been able to launch Sketch Plugin Manager before?

If you've selected `Open Manager` from the menu and nothing happens, can you please check to see if it's running in the background using the **Activity Monitor** app? To do this:
- Open `Activity Monitor.app` located in

[2017-07-19 21:01] bsmart commented on #32
1. I ran `Plugins > Sketch Plugin Manager > Open Manager` from the menu and nothing happened.
2. Sketch PLugin Manager was not running when I checked activity monitor.
3. I uninstalled and redownloaded Sketch Plugin Manager and reinstalled. Now the plugin manager works and I was able to install a plugin.

[2017-07-19 21:32] mludowise commented on #32
That's great to hear. I'm going to close this for now but please feel free to reopen if you run into the same problem again.

[2017-07-19 21:32] #32 closed

[2017-07-26 07:15] Theo-Schusterjunge opened #34 "Skip plugin updates"
### Description

[//]: # It would be great if we could skip versions of plugins without being notified about the update each time we open a file.
For example, there's currently an update I can't install (I guess it has a bug). So I want to wait for the next version, hoping the problem will be solved by then. But the update notification keeps nagging me :/ Yet I don't want to turn off all notificat

[2017-07-30 21:20] mludowise commented on #33
I'm closing this issue. Please reopen if you run into this problem again.

[2017-07-30 21:20] #33 closed

[2017-08-16 08:12] muenva commented on #31
It happens when I open an existing file, if I open a new document then it doesn't crash. @mludowise Do you have the same results?
Tested with same plugin manager version but with OS X v10.12.6

[2017-08-16 08:16] mludowise commented on #31
I know the root cause of the bug, but haven't had the time to figure out exactly how to fix it. The one that I'm running into is a race condition where, if you type in the search box before the plugins list finishes updating in the background, it crashes.

When you open the new document, are you seeing a popup that notifies you of updated plugins? If so, that's probably why it's not crashing for y

[2017-08-16 09:35] muenva commented on #31
Thanks for the quick response! I see now. I don't get the popup but I managed to replicate the bug when creating new documents.

[2017-09-10 07:18] vvhh2002 opened #35 "Sketch-Plugin-Manage can't use proxy."
### Description
Sketch-Plugin-Manage can't use proxy to download the plug-ins.

 BTW:where are source code of Sketch-Plugin-Manager.app of the bundle? I wish i could modify and submit a pull requests.

### OS X Version

[//]: # 10.12.6

### Sketch Plugin Manager Version

[//]: # 1.6

### Screenshot

[2017-10-03 15:25] fali292 opened #36 "Catalog tab not showing plugins"
### Description

I cannot browse or search for plugins using the catalog tab in sketch plugin manager. I'm able to install plugins via sketchpacks and they show up on sketch plugin managers installed section but aren't updatable

### OS X Version

10.12.6

### Sketch Plugin Manager Version

1.6

### Screenshot
![screen shot 2017-10-03 at 16 10 50](https://user-images.githubusercontent.com/26438096

[2017-10-03 16:02] mludowise commented on #36
Thank you for reporting this. My computer is currently out of commission, but I will try to look at this in a week when I get it back.

[2017-10-12 08:35] cpshanley opened #37 "Closes after a few seconds when first opened"
### Description

This has been happening for the last few versions of Sketch and the plugin.

When you first open the window, it dismisses after about 5 seconds. Open it again, and it stays on the screen.

### OS X Version
10.12.6

### Sketch Plugin Manager Version
1.6

[2017-11-29 13:17] casper-eisma commented on #37
Same here on OS X 10.13.1

[2017-11-29 16:49] pjatx commented on #37
Same on OS X 10.13.1

[2017-12-03 15:00] lucasstinis opened #38 "[bug] Height issue with label that shows plugin author name"
### Description

The height of the label showing the plugin author's name in a Search Results list item is currently too limited. The text is cut-off right under the label's baseline (i.e. characters like "g", "y", etc. aren't shown entirely).

### OS X Version
macOS High-Sierra 10.13

### Sketch Plugin Manager Version
1.6

### Screenshot
![image](https://user-images.githubusercontent.com/11487668

[2017-12-04 01:48] mludowise commented on #36
I've finally had a chance to come back to this project. Are you still having the same problem with not showing a catalog?

[2017-12-04 01:50] mludowise commented on #37
I've finally had a chance to work on this and I think I'll have a fix in the next release. Thank you for catching this.

[2017-12-04 01:55] mludowise commented on #38
Did you notice if this was an issue before upgrading to High Sierra? I believe it may be related to the default font used by your system. I haven't updated to High Sierra yet and am not seeing the issue, so I'm wondering if it's related to the OS.

[2017-12-04 02:00] mludowise commented on #35
Sorry I didn't get back to you sooner, it's been a while since I've been able to give this project my attention.

I don't believe there's anything that can be done to allow this to use a proxy. I'm using the Objective-Git library and I don't believe they have an option for that, but I could be wrong.

The Swift source code is in another repo that is private, but there's no reason why I couldn't op

[2017-12-04 02:00] #35 closed

[2017-12-04 08:58] lucasstinis commented on #38
I started using this plugin manager after installing High Sierra so I'm afraid I can't confirm.

[2017-12-04 13:53] fali292 commented on #36
Hi,

No, fortunately the catalog is visible now and has been a few days after my last message. I don’t recall doing anything to make it work such as uninstalling and reinstalling if that helps.

Thanks

[2017-12-04 17:48] #36 closed

[2017-12-11 21:59] mludowise commented on #37
This should be fixed now. Please let me know if any of you run into this problem again.

[2017-12-11 21:59] #37 closed

[2017-12-11 21:59] mludowise commented on #31
This should be fixed now.

[2017-12-11 21:59] #31 closed

[2018-02-06 12:39] howdytom opened #40 "Minor spelling error in github description"
### Description

I just want to let you know that there's a spelling error in the github description:

Sketch Plugin Manager is currently only supported on OS X 10.12 S**ei**rra…

Correct would be "OS X 10.12 **Sierra**“ or macOS 10.12 **Sierra**.

By the way, great work!

[2018-02-06 17:17] mludowise commented on #40
How embarrassing 🤭

Thank you for pointing that out, I’ll fix it right away.

- Mel
________________________________
From: howdytom <notifications@github.com>
Sent: Tuesday, February 6, 2018 4:39:46 AM
To: mludowise/Sketch-Plugin-Manager
Cc: Subscribed
Subject: [mludowise/Sketch-Plugin-Manager] Minor spelling error in github description (#40)

Description

I just want to let you know that there's

[2018-02-06 17:37] howdytom commented on #40
Nice. Same mixup on the landing page

[https://mludowise.github.io/Sketch-Plugin-Manager/](https://mludowise.github.io/Sketch-Plugin-Manager/)

[2018-02-06 18:15] mludowise commented on #40
Should be fixed now.

[2018-02-06 18:15] #40 closed

[2018-02-16 00:04] parkerault commented on #37
I've been having this issue so badly it's unusable; I've attached a screen recording (gif) of it crashing four times in a row. Sometimes it will crash with no user input, but it _always_ crashes when I try to open the installed or update tabs. System: OSX 10.12.6, Sketch v47.1 (update license expired), and Sketch Plugin Manager v1.6. Is there somewhere I should look for a log to attach?

![sketch-

[2018-02-18 09:51] mludowise commented on #37
@parkerault This bug has been fixed in version 1.7.

It looks like this bug is preventing the plugin from being able to update itself, but you can fix it by downloading it from GitHub and reinstalling it.

Please let me know if you run into any more problems.

[2018-09-22 03:49] phrohdoh opened #43 "[Request] Immediately focus the search box"
Currently I have to manually focus the search box but since that is the only control the user can type in it would make sense to automatically give it focus so the user can begin typing immediately.

[2018-11-18 17:49] realvjy opened #44 "Wrong repository address for my plugin"
### Description
![image](https://user-images.githubusercontent.com/7387461/48676102-e5019a80-eb87-11e8-9d80-a29f1e334fa2.png)
This repository is not correct for uiLogos Sketch plugin. Download and installed landing page.

Installed and updated from here https://github.com/realvjy/uilogos
**Correct address https://github.com/realvjy/uiLogos-sketch-plugin**

[//]: # (Include a detailed description o

[2018-11-24 09:34] #44 closed, assigned to nobody

[2020-08-26 19:42] Rizen-Kris opened #46 "TypeError: context.api is not a function."
### Description

Just installed the plugin by double clicking the plugin file.. When selecting either "Open Manager" or "Check for Updates" I get a popup with the following error:

**Sketch Plugin Manager Error**
TypeError: context.api is not a function. (In 'context.api()', 'context.api' is null)

### OS X Version

10.15.6

### Sketch Plugin Manager Version

Just downloaded the zip file today..